* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(71, 126, 236, 0.98);
  --secondary-color: #455CE9;
  --tetiary-color:#142c8e;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #18191a;
  background-color: #f5f6f7;
  scroll-behavior: smooth;
  scrollbar-color: pink;
}
body .section-divider-svg-clip {
  background-color: rgb(198, 198, 126);
  min-width: 100%;
}
body a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.784);
}
body h1, body h2 {
  color: #1f2020;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 35px;
  line-height: 1.25em;
}
body h2 {
  font-weight: 400;
  font-size: 28px;
}
body .container {
  padding: 1.2em;
  text-align: center;
  padding-top: 3.5em;
}
body .animatedbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
  border: 1px solid var(--primary-color);
  color: #0070ba;
  color: var(--primary-color);
  border-radius: 3em;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease-out;
  z-index: 1;
  width: 25vh;
  margin: 0 auto;
}
body .animatedbtn:before, body .animatedbtn:after {
  background: #455CE9;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  z-index: -1;
}
body .animatedbtn:before {
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
body .animatedbtn:hover {
  background-color: #142c8e;
  border: 1px solid white;
  color: white;
  transition: ease-in-out;
}
body .animatedbtn:hover:before {
  top: 0;
}
body .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .outer--container {
  padding: 1em;
  background-color: rgb(240, 148, 215);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
body .outer--container .inner--container li {
  list-style: none;
}
body .outer--container .inner--container .logo--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .outer--container .inner--container .logo--div img {
  width: 1.5em;
  height: 2em;
  background-size: cover;
}
body .outer--container .inner--container .logo--div .Logo--text {
  font-weight: bolder;
  font-size: 1em;
  padding-left: 0.2em;
  color: var(--primary-color);
}
body .outer--container .inner--container .logo--div .Logo--text span {
  color: var(--tetiary-color);
  margin-left: -5px;
}
body .outer--container .inner--container .navbar--links {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  min-height: 55vh;
  border-radius: 0.4em;
  z-index: 99;
}
body .outer--container .inner--container .navbar--links li {
  color: white;
  padding: 14px 0px;
}
body .outer--container .inner--container .navbar--links li a {
  color: white;
  line-height: 0.5em;
  letter-spacing: 0.1px;
  font-size: 1em;
  font-weight: 200px;
  line-height: 1.25em;
}
body .outer--container .inner--container .navbar--links .firstli {
  padding-top: 60px;
}
body .outer--container .inner--container .close {
  display: none;
}
body .hero {
  position: relative;
  text-align: center;
}
body .hero .transparent {
  background-color: rgba(236, 235, 235, 0.113);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 20px;
}
body .hero .transparent h2 {
  color: white;
}
body .hero img {
  min-height: 55vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url(img/hero.webp);
}
body .main h1, body .main div, body .main h2, body .main p, body .main button {
  margin-bottom: 1em;
}
body .main .center--div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body .main .svg {
  position: relative;
  background-color: pink;
  background: url("img/individual2.svg");
  background-size: contain;
  max-width: 20em;
  margin: 0 auto;
  padding: 0;
  min-height: 15em;
  overflow: hidden;
  background-repeat: no-repeat;
}
body .main .svg .logo--small {
  width: 1.8em;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 9em;
  margin-top: 6em;
}
body .image--step--section {
  background-color: #eef1f2;
}
body .image--step--section h1, body .image--step--section p {
  padding-bottom: 20px;
}
body .image--step--section li {
  list-style: none;
}
body .image--step--section h2 {
  font-size: 25px;
}
body .image--step--section .buy--sell--svg {
  width: 100%;
  padding: 0em 3em;
  transition: all 4000ms;
}
body .image--step--section .buy--sell--svg:hover {
  transform: translateY(-18px);
  cursor: pointer;
}
body .image--step--section img {
  width: -moz-fit-content;
  width: fit-content;
}
body .blue--section {
  background: rgb(3, 52, 145);
  background: linear-gradient(227deg, rgb(3, 52, 145) 7%, rgb(5, 69, 144) 62%, rgb(6, 75, 143) 98%);
  color: white;
}
body .blue--section h1, body .blue--section a {
  color: white;
}
body .blue--section .box {
  background: rgb(7, 58, 153);
  padding: 2em;
  width: 85%;
  text-align: start;
  margin: 0 auto;
  border-radius: 1em;
  margin-bottom: 1.7em;
  margin-top: 1.7em;
}
body .blue--section .box h3 {
  padding-bottom: 1.5em;
}
body .blue--section .box p {
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
body .blue--section .box a {
  color: pink;
}
body .blue--section .box a:hover {
  -webkit-text-decoration: 1px solid white;
          text-decoration: 1px solid white;
  color: yellow;
}
body .footer h1, body .footer img, body .footer p, body .footer a {
  margin-bottom: 25px;
}
body .footer img {
  width: 60%;
}
body .footer p {
  letter-spacing: 0.1px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 1.1em;
}
body .footer .scroll-payment--method {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}
body .footer .scroll-payment--method .payment--method {
  background-size: contain;
}
body .footer .payment--method--div {
  border: 1px solid red;
  overflow: hidden;
  width: 100%;
}
body .footer .payment--method--div .payment--method {
  width: 100%;
  background-size: contain;
  border: 1px solid red;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(400px);
  }
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 999;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #f0eded;
}

.hamburger-box {
  width: 25px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 40%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 26px;
  height: 2.5px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  z-index: 999;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  background-color: white;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  background-color: white;
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}/*# sourceMappingURL=index.css.map */